.auth_form {
    width: 100%;
    height: fit-content;
    margin: auto;
    @media (min-width: 640px) {
        max-width: 400px;
    }
    @media (min-width: 768px) {
        max-width: 450px;

    }
    @media (min-width: 1024px) {
        max-width: 500px;

    }

}